/* -------- Box Sizing -------- */

*, *:before, *:after {
  box-sizing: border-box;
}

body{
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
	font-family:Helvetica, Arial, sans-serif;
}

h1{font-size: 2.074em;}
h2{font-size: 1.728em;}
h3{font-size: 1.618em;}
h4{font-size: 1.44em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}

h1,h2,h3,h4,h5,h6{
	margin:0 0 0.5em 0;
}

.section__heading{
	font-size:2.074em;
}

p{margin:0 0 1rem 0;}

.serif{
	font-family: 'Noto Serif', Georgia, 'Times New Roman', serif;
	font-style:italic;
}

.lead{
	line-height:1.5;
	font-size:1.5em;
	color:#999;
	font-weight:300;
}

a, a:active{
  color:#2b9de3;
}

a:hover, a:focus{
  color:#075aa7;
}

/* =================
	Header 
===================== */

.nav-wrapper{
  width:100%;
  background-color:#ececec;
}

.brand-logo{
  font-size:3em;
  margin-left:0.25em;
  text-decoration:none;
  color:#333;
  text-transform:uppercase;
}

#primary-nav{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	margin-top:25px;
}

#primary-nav li{
	float:left;
	display:block;
	position:relative;
}

#primary-nav > li a{
	padding:15px 20px;
	text-transform:uppercase;
	font-size:0.9em;
	color:#333;
	text-decoration:none;
	transition:color 0.3s ease;
}

#primary-nav > li a:hover,
#primary-nav > li a:focus,
#primary-nav > li a.active{
	color:#2b9de3;
}

.main-container{
  max-width:1080px;
  margin: 0 auto;
  padding:1em;
}


/* =================
  Flexbox Grid
===================== */

.cards-container, .spaced-row{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width:100%;
}

/* --------- LARGE MOBILE/TABLET SCREEN SIZE ----------- */
@media only screen and (min-width: 480px) {
  .cards-container{
    flex-direction:row;
  }
}

.card__actions{
  flex-direction:row;
  align-items:center;
}

.card.col-4{
  margin:1rem 0 0;
  min-width: 240px;
  flex-basis: 24%;
}


/* =================
	Card Styles
===================== */

.card{
  background-color:#fff;
  color:#999;
  position:relative;
  border-top:2px solid #ececec;
  border-left:2px solid #ececec;
  border-right:2px solid #ececec;
  padding-bottom:45px;
}

.card__edit-icon{
  position:absolute;
  right:12px;
  top:10px;
  font-size:1.5em;
  z-index:300;
  color:#fff;
}

.card__title{
  font-size:1.25em;
  margin-bottom:0;
  line-height: 1.25;
}

.card__title a{text-decoration:none;}

.card__subtitle{
  font-weight:400;
  font-size:1em;
  text-transform:uppercase;
}

.card__img{
  height:140px;
  position:relative;
  background-size:cover;
}

.card__img-overlay{
  position:absolute;
  width:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0.75;
}

.card__bottom{
  padding:1em 1em 0 1em;
}

.card__actions{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding: 0em 1em 0.5em;
}

.card__actions a{
  color:#999;
}

.card__actions a:hover, 
.card__actions a:focus
.card__edit-icon:hover,
.card__edit-icon:focus{
  color:#2b9de3;
}
 
.card:nth-child(5n+1){
   border-bottom: 5px solid #00ae1d;
}
.card:nth-child(5n+1) .card__img-overlay{
  background-color:#00ae1d;
}

.card:nth-child(5n+2){
   border-bottom: 5px solid #9a257d;
}
.card:nth-child(5n+2) .card__img-overlay{
  background-color: #9a257d;
}

.card:nth-child(5n+3){
   border-bottom: 5px solid #f00618;
}
.card:nth-child(5n+3) .card__img-overlay{
  background-color: #f00618;
}

.card:nth-child(5n+4){
   border-bottom: 5px solid #047ecf;
}
.card:nth-child(5n+4) .card__img-overlay{
  background-color: #047ecf;
}

.card:nth-child(5n+5){
   border-bottom: 5px solid #fd5f15;
}
.card:nth-child(5n+5) .card__img-overlay{
  background-color: #fd5f15;
}


/* =================
	Utility Classes 
===================== */

.right{
  float:right;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.red{
	color:#a81010;
}

.aligncenter{
	text-align: center;
}

.uppercase{text-transform: uppercase;}

/* Responsive images */
#main-content img {
	max-width: 100%;
	height: auto;
}
